<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUE4</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
    <h1>HII {{name}}!</h1>
    
    <form action="/quiz4/submit" method="post">
        <p><strong>Question 4:</strong> 8 x 9 x 4</p>
        <input type="radio" name="answer" value="A"> A) 320 <br>
        <input type="radio" name="answer" value="B"> B) 288 <br>
        <input type="radio" name="answer" value="C"> C) 360 <br>
        <input type="radio" name="answer" value="D"> D) 244 <br><br>

        {% if not submitted %}
        <button type="submit" >Submit</button>
        {% endif %}
    </form>
    <div class="c">
        {% if result %}
            <h2>{{ result }}</h2>
            <p>Correct option: {{ correct_answer }}</p> </div>           
    <form action="/quiz5" method="post">
        <button type="submit">NEXT</button>
    </form>
        {% endif %}
</body>
</html>