<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUE3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>HII {{name}}!</h1>
   
    <form action="/quiz3/submit" method="post">
         <p><strong>Question 3:</strong> 224 / 32</p>
        <input type="radio" name="answer" value="A"> A) 8 <br>
        <input type="radio" name="answer" value="B"> B) 9 <br>
        <input type="radio" name="answer" value="C"> C) 3 <br>
        <input type="radio" name="answer" value="D"> D) 7 <br><br>

        {% if not submitted %}
        <button type="submit" >Submit</button>
        {% endif %}
    </form>
    <div class="c">
        {% if result %}
            <h2>{{ result }}</h2>
            <p>Correct option: {{ correct_answer }}</p>  </div>          
    <form action="/quiz4" method="post">
        <button type="submit">NEXT</button>
    </form>
        {% endif %}
</body>
</html>